<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>

		<services>
			<service name="WcfJobPortal.ManageUserService" behaviorConfiguration="ManageUserServiceBehavior">
				<endpoint  address="ComoanyService" binding="basicHttpBinding" contract="WcfJobPortal.IManageUserService" />
			</service>
			<service name="WcfJobPortal.JobService" behaviorConfiguration="JobServiceBehavior">
				<endpoint  address="JobService" binding="basicHttpBinding" contract="WcfJobPortal.IJobService" />
			</service>
			<service name="WcfJobPortal.JobApplicationService" behaviorConfiguration="JobApplicationServiceBehavior">
				<endpoint  address="JobApplicationService" binding="basicHttpBinding" contract="WcfJobPortal.IJobApplicationService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ManageUserServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
				<behavior name="JobServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
				<behavior name="JobApplicationServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>